/.godot
*.blend1
*.tif
*.osm.pbf
/dist
/raw_sources

# Documentation used as inspiration
/references

# Generated data
/data/*.dem.png
/data/*.dem.json
/data/tiles

# Godot specific
/addons

# gdUnit4 test reports
/reports

# Python
__pycache__
